<article class="post">
    <div class="content">
        <p>Title of Last Post: {{posts.[0].user.user_name}}</p>
        <p>Total Posts: {{posts.length}}</p>
        <a href="/dashboard/edituser">Edit Info</a>
    </div>
</article>