<article>
    <a href="/dashboard">Back to dashboard</a>
    <h2>Update Info</h2>
    <form class="edit-user-form">
        <div>
            <label for="user-name">Username</label>
            <input type="text" name="user-name" value="{{user.username}}" />
        </div>
        <br>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" value="{{user.email}}" />
        </div>
        <br>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <br>
        <div>
            <input type="hidden" id="user-id" name="user-id" value={{user.id}} />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
        <br>
        <br>
    </form>
</article>

<script src="/js/edit-user.js"></script>