{{> post-info posts}}

{{#if logged_in}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments posts.comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}