/* Homepage Styling */
.post {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px dotted lightslategray;
}
/* .post:nth-child(odd) {
  background: lightslategray;
} */
.post-list {
  list-style: none;
}
.footer {
  color: white;
}
/* Homepage Styling End */

/* Dashboard Styling */
.dashboard-posts {
  list-style: none;
}
textarea {
  width: 300px;
  height: 150px;
}
.new-post-form * {
  vertical-align: middle;
}
/* Dashboard Styling End */

/* Single Post Styling */
.comment {
  margin-top: 25px;
  padding: 10px;
  margin-bottom: 15px;
}
.comment:nth-child(odd) {
  background: lightslategray;
}
.comment-header {
  font-weight: bold;
}
/* Single Post Styling End*/
